    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
    @font-face {
        font-family: 'bariol';
        src: url("bariol.ttf");
    }
    

/* Base rules */
    
    * {
        margin: 0;
        padding: 0;
        font-family: 'Nunito Sans', sans-serif;
        box-sizing: border-box;
        scrollbar-width: thin;
        scrollbar-color: #1f6feb #010409;
    }
    
    body {
        background: radial-gradient(circle, #ff6a88, #7ed6df);
    }
    
    h2 {
        font-size: 2.5em;
        margin: 1em;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 3px;
    }
    
    li {
        list-style-type: none;
        border: 2px solid black;
        transition: all 0.4s ease-in-out;
        margin: 7px;
        border-radius: 20px;
        height: 40px;
        background-color: rgb(246, 246, 130);


    }

    li:hover{
        /* width: 250px; */
        border: 3px solid black;
        background-color: rgb(146, 243, 146);
        transform: scale(1.1);
        /* margin: 20px; */
    }
    
    p {
        margin: .5em 0 1em;
    }
    /* Utility classes */
    
    .u-text-center {
        text-align: center;
    }
    
    .u-text-white {
        color:rgb(224, 188, 194);
    }
    
    .u-bg-brand {
        background: linear-gradient(to bottom, #0d1117, #010409);
    }
    /* Section */
    
    .section {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        min-height: 100vh;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .section-content {
        width: 100%;
    }
    /* Jumbotron */
    
    .jumbotron-fluid h1 {
        margin-bottom: 0;
        font-size: 4em;
        letter-spacing: 8px;
        font-family: "bariol", sans-serif;
    }
    
    .lead {
        font-size: 8vmin;
    }
    .lead a{
        color:plum;
    }
    /* Link */
    
    .link-default,
    .list-grid a {
        text-decoration: none;
        color:rgb(117, 75, 158);
        transition: all 0.4s ease-in-out;
    }
    
    .signup-link {
        color: aquamarine;
        transition: all 0.4s ease-in-out;
    }
    
    .link-default:hover,
    .link-default:focus,
    .list-grid a:hover,
    .list-grid a:focus {
        color: #2d3e50;
    }
    
    .signup-link:hover,
    .signup-link:focus {
        color: white;
    }
    /* Button */
    
    .btn {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        font-family:Arial, Helvetica, sans-serif;
        padding: .4375em .875em;
        border: 1px solid transparent;
        border-radius: 50px;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        background-image: none;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: all 0.4s ease-in-out;
    }
    
    .btn-primary {
        color: white;
        background-color: rgba(255, 255, 255, .2);
        transition: all 0.4s ease-in-out;
        color: white;
        background-color: rgba(255, 255, 255, .2);
    }
    
    .btn-primary:hover,
    .btn-primary:focus {
        background-color: rgba(255, 255, 255, .4);
    }
    
    .btn-lg {
        font-size: 6vmin;
    }
    /* List grid */
    
    .list-grid {
        margin-bottom: 3rem;
        font-size: 1.25em;
    }
    
    .list-grid ol {
        padding: 0;
    }
    
    .list-grid li {
        line-height: 1.5;
        line-height: 1.9;
    }
    
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: .5em 0;
        background-color: palevioletred;
    }
    .footer a{
     color:black;
    }
    
    @media only screen and (min-width: 500px) {
        .lead {
            font-size: 5vmin;
        }
        .btn-lg {
            font-size: 4vmin;
        }
        .list-grid ol {
            column-count: 3;
        }
    }


    .login_body{
        background-color: #fefae0;
        margin-top: 5rem;
      }
      
      .login_header{
        margin: 3rem;
      
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        color: red;
      }
      
      .icon_logo{
        width: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      
      }
      .login_card_header{
        font-family: 'Train One', cursive;
        text-align: center;
      }
      .signup_card_header{
        font-family: 'Train One', cursive;
        text-align: center;
      }
      .login_card{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.2rem;
      }
      .login_body{
        font-size: 1.5rem;
      }
      .login_input{
        margin: 1rem;
        width: 80%;
        height: 50px;
      
      }
      
      .login_submit{
        text-align: center;
      
      }
      .login_button{
        margin-bottom: 2rem;
      }
      .privacy{
        text-align: center;
        font-size: large;
        margin-bottom: 2rem;
      }
      .first_col{
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
      .google_card{
      margin-top: 5rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-bottom: 1rem;
      }
      .or{
        text-align: center;
      }

      /* Add styles for the search bar */
.search-bar {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
}

.search-bar:focus {
  border-color: #7ed6df;
}

