    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

    @font-face {
      font-family: 'bariol';
      src: url("bariol.ttf");
    }

    
    * {
      margin: 0;
      padding: 0;
      font-family: 'Nunito Sans', sans-serif;
      box-sizing: border-box;
      scrollbar-width: thin;
      scrollbar-color: #DB7093 #010409;
      scroll-behavior: smooth;
    }

    body {
      background-color: rgb(208, 206, 206);
      background-image:
        repeating-linear-gradient(45deg,
          rgba(255, 0, 100, 0.2) 0px,
          rgba(255, 0, 100, 0.2) 1px,
          transparent 1px,
          transparent 20px),
        repeating-linear-gradient(-45deg,
          rgba(255, 0, 100, 0.2) 0px,
          rgba(255, 0, 100, 0.2) 1px,
          transparent 1px,
          transparent 20px);
      background-size: 40px 40px;
    }

    h2 {
      font-size: 2.5em;
      margin: 1em;
      font-family: 'Courier New', Courier, monospace;
      letter-spacing: 3px;
    }

    li {
      list-style-type: none;
      border: 2px solid #b62656;
      transition: all 0.4s ease-in-out;
      margin: 7px;
      border-radius: 20px;
      height: 40px;
      background-color: #f6b8cb;
    }

    li:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    p {
      margin: .5em 0 20px;
    }

    /* Utility classes */

    .u-text-center {
      text-align: center;
    }

    .u-text-white {
      color: rgb(224, 188, 194);
    }

    /* Section */

    .section {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      min-height: 100vh;
      padding-left: 1em;
      padding-right: 1em;
    }

    .section-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    /* Jumbotron */

    .jumbotron-fluid h1 {
      margin: 0;
      font-size: 4em;
      letter-spacing: 8px;
      font-family: "bariol", sans-serif;
    }

    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
    }

    .lead {
      font-size: 8vmin;
    }

    .lead a {
      color: plum;
    }

    /* Link */

    .link-default,
    .list-grid a {
      text-decoration: none;
      color: #b6476c;
      transition: all 0.4s ease-in-out;
    }

    .signup-link {
      color: aquamarine;
      transition: all 0.4s ease-in-out;
    }

    .list-grid a:hover,
    .list-grid a:focus {
      color: #b6476c;
    }

    .signup-link:hover,
    .signup-link:focus {
      color: white;
    }

    /* Button */

    .btn {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      font-family: Arial, Helvetica, sans-serif;
      padding: 8px 30px;
      border: 1px solid transparent;
      border-radius: 50px;
      line-height: 1.5;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      background-image: none;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all 0.4s ease-in-out;
    }

    .btn-primary {
      color: white;
      background-color: rgba(255, 255, 255, .2);
      transition: all 0.4s ease-in-out;
      color: white;
      background-color: rgba(255, 255, 255, .2);
    }

    .btn-primary:hover,
    .btn-primary:focus {
      color: rgb(232, 230, 230);
      background-color: #DB7093;
    }

    .btn-lg {
      font-size: 6vmin;
    }

    /* List grid */

    .list-grid {
      margin-bottom: 3rem;
      font-size: 1.25em;
    }

    .list-grid ol {
      padding: 0;
    }

    .list-grid li {
      line-height: 1.5;
      line-height: 1.9;
    }

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: .5em 0;
      background-color: palevioletred;
    }

    .footer a {
      color: black;
    }

    @media only screen and (min-width: 500px) {
      .lead {
        font-size: 5vmin;
      }

      .btn-lg {
        font-size: 22px;
        font-weight: 600;
      }

      .list-grid ol {
        column-count: 3;
      }
    }

    .login_body {
      background-color: #fefae0;
      margin-top: 5rem;
    }

    .login_header {
      margin: 3rem;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      color: red;
    }

    .icon_logo {
      width: 15%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .login_card_header {
      font-family: 'Train One', cursive;
      text-align: center;
    }

    .signup_card_header {
      font-family: 'Train One', cursive;
      text-align: center;
    }

    .login_card {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.2rem;
    }

    .login_body {
      font-size: 1.5rem;
    }

    .login_input {
      margin: 1rem;
      width: 80%;
      height: 50px;
    }

    .login_submit {
      text-align: center;
    }

    .login_button {
      margin-bottom: 2rem;
    }

    .privacy {
      text-align: center;
      font-size: large;
      margin-bottom: 2rem;
    }

    .first_col {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    .google_card {
      margin-top: 5rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-bottom: 1rem;
    }

    .or {
      text-align: center;
    }

    /* Add styles for the search bar */
    .search-bar {
      width: 80%;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      border: 2px solid black;
      border-radius: 20px;
      outline: none;
    }

    .search-bar:focus {
      border-color: #7ed6df;
    }

    /* Styling for Sort Buttons */
    /* Styling for the container that holds both search bar and sort dropdown */
    .search-sort-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

    .search-bar {
      width: 60%;
      padding: 15px 20px;
      font-size: 16px;
      border: 2px solid black;
      border-radius: 20px;
      outline: none;
      margin-right: 10px;
      /* Space between search bar and dropdown */
    }

    .search-bar:focus {
      border-color: #b62656;
    }

    .sort-dropdown {
      width: 20%;
      padding: 15px 20px;
      font-size: 16px;
      border-radius: 20px;
      outline: none;
      border: 2px solid black;
      background-color: white;
      margin-bottom: 20px;
      margin-left: 10px;
      cursor: pointer;
    }

    .sort-dropdown:focus {
      border-color: #b62656;
    }

    #usernamesList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 30px;
      column-gap: 10px;
    }

    #usernamesList li {
      flex: 1 1 calc(75% - 20px);
      /* Adjust to control item width */
      max-width: 400px;
      text-align: center;
      padding: 0px 50px;
    }
